body{
   margin: 0;
   padding: 0;
   color: #000;
   background: #fef5e7;
   text-align: center;
   font-family: "open sans", sans-serif;
   }


   #loading-screen{
   width: 100%;
   height: 100vh;
   background: #E8F5E9;
   position: fixed;
   align-items: center;
   justify-content: center;
   display: flex;
   animation: loadingcolor 4s infinite;
   }

   #loading{
   width: 90%;
   color: #43a047;
   }

   /* Farbpalette
   Standart: #f0b27a
   standart hell: #fef5e7
   Deutsch rot: #ec7063
   Mathe blau: #5499c7
   NT grün: #7dcea0
   RZG gelb: #f1c40f
   violett: #af7ac5
   hellrot: #fdedec
   hellblau: #d4e6f1
   hellgrün: #e9f7ef
   hellgelb: #fef9e7

   */

   #content{
   max-width: 1100px;
   margin: auto;
   align-items: center;
   justify-content: center;
   text-align: left;
   }


#navbar-pc{
     margin: 0px;
     padding: 0px;
     background: #f0b27a;
     height: 60px;
     display: block;
     width: 100%;
     font-family: open sans, sans-serif;
     position: fixed;
     user-select: none;
     ms-user-select: none;
     moz-user-select: none;
     webkit-user-select: none;
     }

     #navbar-pc a{
          color: #fff;
          }


#navbar-pc-titel{
     margin-top: 0px;
     margin-left: 20px;
     margin-right: 0px;
     margin-bottom: 0px;
     padding: 0px;
     float: left;
     }

     #navbar-pc-titel img{
          width: auto;
          height: 50px;
          }


#navbar-pc-links{
     margin-top: 15px;
     margin-left: 0px;
     margin-right: 20px;
     margin-bottom: auto;
     padding: 0px;
     float: right;
     }


.nav-pc-link{
     float: left;
     cursor: pointer;
     margin: 5px;
     }


#navigation-smartphone{
     align-items: center;
     width: 100%;
     height: 100vh;
     position: fixed;
     color: #ffffff;
     background: #f0b27a;
     display: none;
     margin-top: 60px;
     }

     #navigation-smartphone a{
    color: #fff;
          }


.navbar-sp-link{
     font-size: 25px;
     justify-content: center;
     margin: 20px;
     font-family: jost, sans-serif;
     }

     .logo{
     width: 90%;
     height: auto;
     }

     #music{
     background: #f0b27a;
     width: 100%;
     display: none;
     }

     #music-open{
     background: #f0b27a;
     width: 30%;
     border-top-left-radius: 8px;
     border-top-right-radius: 8px;
     right: 20px;
     bottom: 400px;
     position: fixed;
     }

     #musicplayer{
     width: 30%;
     height: 400px;
     right: 20px;
     bottom: 0;
     position: fixed;
     background: #f0b27a;
     display: none;
     }

     #result-screen{
     width: 90%;
     height: 90vh;
     margin: auto;
     margin-left: 5%;
     margin-top: 5%;
     position: fixed;
     background: #f0b27a;
     color: #000;
     border-radius: 8px;
     text-transform: uppercase;
     display: none;
     text-align: center;
     }


     #score-text{
     text-transform: uppercase;
     }

     a{
     color: #000;
     text-decoration: none;
     }

     a:hover{
     text-decoration: underline;
     }

     th, td{
     border: 2px solid;
     }

     select{
     width: 80%;
     height: auto;
     border: 2px solid;
     border-color: #f0b27a;
     border-radius: 8px;
     margin: 5px;
     font-size: 16px;
     font-family: "open sans", sans-serif;
     }

     input{
     width: 95%;
     height: 100%;
     background: transparent;
     margin: 0px;
     font-family: "open sans", sans-serif;
     font-size: 16px;
     }

     button{
     width: 80%;
     height: auto;
     color: #000;
     border-color: #f0b27a;
     border: 2px solid;
     border-radius: 8px;
     margin: 5px;
     background: transparent;
     font-size: 20px;
     font-family: "open sans", sans-serif;
     text-transform: uppercase;
     }

     p{
     margin-left: 5px;
     }


@media screen and (max-width:660px){ /* Smartphone Version */
      .nav-pc-link { display: none; }
      .nav-sp-link { display: block; }
          }

@media screen and (min-width:661px){ /* PC Version */
      .nav-pc-link { display: block; }
      .nav-sp-link { display: none; }
          }

   @keyframes loadingcolor{
   0%{ background: #f0b27a; }
   20%{ background: #ec7063; }
   40%{ background: #5499c7; }
   60%{ background: #7dcea0; }
   80%{ background: #f1c40f; }
   }
